<div class="bg-img">
  <div class="container" style="width:100%">
    <div class="logo">
      <img src="https://static.tildacdn.com/tild3530-3966-4437-b565-633934373932/MBK-logo-career-whit.png" alt="">
    </div>
    <div class="topnav">
      <a href="#home">Work@MobiKwik</a>
      <a href="#about">Benefits</a>
    </div>
  </div>
  <div class="centered" style="opacity:1">
    Want to empower millions of Indians with financial Independence?  </div>
    <button class="bottom-button"><a>View Job Openings</a></button>
    </div>
